{% trans_default_domain comur_translation_domain %}
{# trans_default_domain 'ComurImageBundle' #}

{{ render(controller('Comur\\ImageBundle\\Controller\\UploadController::getTranslationCatalogue')) }}

{#<script>#}
{#    const comurImageTranslations = {{ {#}
{#        'Please select or upload an image': 'Please select or upload an image'|trans,#}
{#        'File is too big': 'File is too big'|trans,#}
{#        'Filetype not allowed': 'Filetype not allowed'|trans#}
{#    }|json_encode|raw }};#}
{#</script>#}

{% set bv = bootstrap_version is defined ? bootstrap_version : (include_bootstrap is not defined or include_bootstrap ? 4 : 3) %}

{% block comur_image_scripts %}
{% if include_jquery is not defined or include_jquery %}
    <!-- The jQuery script, can be omitted if jQuery is already included -->
    <script src="{{ asset('bundles/comurimage/vendor/jquery/dist/jquery.min.js') }}"></script>
{% endif %}
<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="{{ asset('bundles/comurimage/js/jquery-ui.min.js') }}"></script>
{#<script src="{{ asset('bundles/comurimage/vendor/blueimp-file-upload/js/vendor/jquery.ui.widget.js') }}"></script>#}
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="{{ asset('bundles/comurimage/vendor/blueimp-file-upload/js/jquery.iframe-transport.js') }}"></script>
<script src="{{ asset('bundles/comurimage/vendor/blueimp-file-upload/js/jquery.fileupload.js') }}"></script>
<script src="{{ asset('bundles/comurimage/vendor/Jcrop/js/jquery.Jcrop.min.js') }}"></script>
<script src="{{ asset('bundles/comurimage/vendor/Jcrop/js/jquery.color.js') }}"></script>
{% if include_holder is not defined or include_holder %}
    <script src="{{ asset('bundles/comurimage/vendor/holderjs/holder.min.js') }}"></script>
{% endif %}
{% if include_bootstrap is not defined or include_bootstrap %}
    <script src="{{ asset('bundles/comurimage/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
{% endif %}
{% if include_fontawesome is not defined or include_fontawesome %}
    <!-- The FontAwesome, can be omitted if FontAwesome is already included -->
    <link rel="stylesheet" href="{{ asset('bundles/comurimage/vendor/Font-Awesome/css/all.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('bundles/comurimage/vendor/Font-Awesome/css/v4-shims.min.css') }}" type="text/css" />
{% endif %}
<!-- ComurImageBundle script. Do not remove this -->
<script src="{{ asset('bundles/comurimage/js/comur.imagelibrary.js') }}"></script>
{% endblock %}

{% block comur_image_stylesheets %}
<link rel="stylesheet" href="{{ asset('bundles/comurimage/vendor/Jcrop/css/jquery.Jcrop.min.css') }}" type="text/css" />
{% if include_bootstrap is not defined or include_bootstrap %}
    <!-- The bootstrap stylesheet, can be omitted if already inclided -->
    <link rel="stylesheet" href="{{ asset('bundles/comurimage/vendor/bootstrap/dist/css/bootstrap.min.css') }}" type="text/css" />
{% endif %}
<link rel="stylesheet" href="{{ asset('bundles/comurimage/css/comur.image_bundle.css') }}" type="text/css" />
{% endblock %}

<div id="image_upload_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                {% if bv == 4 %}
                    <h5 class="modal-title">{% trans %}Insert Image{% endtrans %}</h5>
                {% endif %}
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                {% if bv == 3 %}
                    <h3 class="modal-title">{% trans %}Insert Image{% endtrans %}</h3>
                {% endif %}
            </div>
            <div class="modal-body">
                <div id="cropping-loader" class="text-center loader" style="display: none"><i class="fa fa-spinner fa-pulse fa-5x"></i></div>
                <ul class="nav nav-tabs" id="image_upload_tabs">
                    <li class="active nav-item">
                        <a class="nav-link active" href="#upload-image" data-toggle="tab">{% trans %}Upload Image{% endtrans %}</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#select-existing" data-toggle="tab">{% trans %}Select Existing{% endtrans %}</a></li>
                    <li class="nav-item"><a class="nav-link" href="#crop-and-use" data-toggle="tab">{% trans %}Crop and Use{% endtrans %}</a></li>
                </ul>
                <div class="tab-content">
                    <!-- UPLOAD IMAGE -->
                    <div class="tab-pane active" id="upload-image">
                        <div class="field-error clearfix hidden">
                            <div id="image_upload_widget_error" class="alert alert-danger span6">
                            </div>
                        </div>
                        <div id="image_upload_drop_zone" class="image_upload_drop_zone">
                            <p><i class="fa fa-image fa-3x"></i></p>
                            <p>{% trans %}Drop your file here{% endtrans %}</p>
                        </div>
                        <p>{% trans %}or{% endtrans %}</p>
                        <div id="image_upload_file_container">
                            <span class="btn btn-info fileinput-button">
                                <i class="fa fa-upload"></i>&nbsp;
                                <span> {% trans %}Select a file...{% endtrans %}</span>
                                <input id="image_upload_file" type="file" name="image_upload_file">
                            </span>
                        </div>
                        <div id="image_file_upload_progress" class="progress">
                            <div class="progress-bar progress-bar-success"></div>
                        </div>
                    </div>
                    <!-- IMAGE LIB -->
                    <div class="tab-pane hidden" id="select-existing">
                        <div class="field-error clearfix hidden">
                            <div id="image_select_widget_error" class="alert alert-danger span6">
                            </div>
                        </div>
                        <div id="existing-images"></div>
                        <input type="hidden" id="selected_image"/>
                    </div>
                    <!-- CROP IMAGE -->
                    <div class="tab-pane" id="crop-and-use">
                        <h4 class="text-info text-center"><i class="fa fa-info-circle"></i>&nbsp;{% trans %}Please adjust selection to your image{% endtrans %}</h4>
                        <div class="image_preview" id="image_preview" style="z-index: 1050">
                            <p class="text-danger text-center">{% trans %}Please select or upload an image{% endtrans %}</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" data-dismiss="modal">
                        <i class="fa fa-ban"></i>&nbsp;
                        {% trans %}Close{% endtrans %}
                    </button>
                    <span class="btn btn-success hidden" id="image_crop_go_now">
                        <i class="fa fa-cut"></i>&nbsp;
                        {% trans %}Crop & Use !{% endtrans %}
                    </span>
{#                    <span class="btn btn-danger hidden" id="image_crop_cancel">#}
{#                        <i class="fa fa-ban"></i>&nbsp;#}
{#                        {% trans %}Cancel{% endtrans %}#}
{#                    </span>#}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#image_upload_modal').on({
        'hidden.bs.modal': destroyImageManager
    });
</script>
