{% block comur_image_widget %}
    {% trans_default_domain comur_translation_domain %}
    {# trans_default_domain 'ComurImageBundle' #}
    {% spaceless %}
        {{ block('form_widget_simple') }}
        
        <div class="field-error clearfix hidden">
            <div id="{{id}}_widget_error" class="alert alert-danger span6">
            </div>
        </div>
        <div class="image_preview select-image-button" id="image_preview_{{ id }}" style="z-index: 1050">
            <div class="image_edit_button">
                <span class="btn btn-success select-image-button">
                    <i class="icon-edit icon-white"></i> {% trans %}Edit{% endtrans %}
                </span>
            </div>
            <div id="image_preview_image_{{id}}">
                {% if not options.fieldImage %}
                    {% if value %}
                        <img src="/{{ options.uploadConfig.webDir ~ '/' ~ value }}?{{ 'now'  | date('U') }}" id="{{ id }}_preview"/>
                    {% else %}
                        <img src="http://placehold.it/{{ options.cropConfig.minWidth }}x{{ options.cropConfig.minHeight}}" id="{{ id }}_preview"/>
                    {% endif %}
                {% else %}
                    {% if value %}
                        <img src="/{{ (options.uploadConfig.webDir ~ '/' ~ value)|thumb(options.fieldImage.maxWidth, options.fieldImage.maxHeight) }}?{{ 'now'  | date('U') }}" id="{{ id }}_preview"/>
                    {% else %}
                        <img src="http://placehold.it/{{ options.fieldImage.maxWidth }}x{{ options.fieldImage.maxHeight}}" id="{{ id }}_preview"/>
                    {% endif %}
                {% endif %}
                
            </div>
        </div>
    {% endspaceless %}

    <script>
        $(document).ready(function(){
            $('#image_preview_{{ id }}.select-image-button .image_edit_button').click(function(event){ 
                initializeImageManager('{{ id }}', $.parseJSON('{{ options | json_encode() | raw }}'));
                console.log('{{id}} onclick');
                $('#image_upload_modal').modal('show');
            });
        });
        $('.select-image-button').mouseover(function(){
            if(!$(this).hasClass('hide-disabled'))
                $(this).children('.image_edit_button').removeClass('hidden');
        });
        $('.select-image-button').mouseout(function(){
            if(!$(this).hasClass('hide-disabled'))
                $(this).children('.image_edit_button').addClass('hidden');
        });

    </script>
{% endblock %}

{% block comur_gallery_widget %}
    {% trans_default_domain comur_translation_domain %}
    {# trans_default_domain 'ComurImageBundle' #}

    {% spaceless %}
        
        <div class="field-error clearfix hidden">
            <div id="{{id}}_widget_error" class="alert alert-danger span6">
            </div>
        </div>
        <div id="gallery_preview_{{id}}" class="well" data-name="{{full_name}}">
            {% for image in form %}
                <div class="gallery-image-container" data-image="{{ image.vars.value }}">
                    <span class="gallery-image-helper"></span>
                    {{ form_widget(image) }}
                    <span class="remove-image"><i class="icon icon icon-remove" data-delete="image"></i></span>
                    <img src="/{{ (options.uploadConfig.webDir ~ '/' ~ image.vars.value)|thumb(options.galleryThumbSize, options.galleryThumbSize) }}?{{ 'now'  | date('U') }}"/>
                </div>
            {% endfor %}
        </div>
        <div class="image_add_button">
            <span class="btn btn-success add-image-button">
                <i class="icon-picture icon-white"></i> {% trans %}Add image{% endtrans %}
            </span>
        </div>

    {% endspaceless %}

    <script>

        $(document).ready(function(){
            rebindGalleryRemove();
            galleries['{{id}}'] = true;
            $('.image_add_button').click(function(event){ 
                initializeImageManager('{{ id }}', $.parseJSON('{{ options | json_encode() | raw }}'));
                $('#image_upload_modal').modal('show');
            });
            $( "#gallery_preview_{{id}}" ).sortable({
                placeholder: "gallery-image-container placeholder",
                update: function(e, ui){
                    reorderItems('gallery_preview_{{id}}');
                }
            });
            $( "#gallery_preview_{{id}}" ).disableSelection();
        });

    </script>
{% endblock %}